<!DOCTYPE html>
<html>
    <head>
        <title>PhotoSort</title>
        <link rel="icon" href="/santa-claus.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/santa-claus.png" width="40" height="40" class="d-inline-block align-center">PhotoSort</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/image">Upload</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/train">Train</a>
                      </li>
                    </ul>
                    <form class="form-inline mr-sm-2 nav justify-content-end">
                      <input class="search-box" type="text" placeholder="Search">
                      <button type="submit" class="search-button"><i class="fa fa-search search-icon"></i></button>
                    </form>
                </div>
                    
            </div>
            
                
            </div>
        </nav>
            
