<!DOCTYPE html>
<html>
    <head>
        <title>PhotoSort</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <div class="landing-header">
            <h1>WELCOME TO PHOTOSORT!</h1>
            <p>by NottFace</p>
            <a href="/album" class="btn btn-primary btn-lg">View All Albums</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </body>
</html>
