<% include ./partials/header %>
<div class="jumbotron">
    <div class="container">
        <h1>Your Album</h1>
        <div class="row">
                <% image.forEach(function(instant){ %>
                <div class="item-block col-md-4">
                    <div class="card">
                        <img class="card-img-top item-img" src="<%= instant.img.slice(8) %>">
                        <div class="card-block">
                            <p class="card-text"><strong>Number of People</strong> <%= instant.num %></p>
                            <p class="card-text"><strong>People Involve</strong> <%= instant.person %></p>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</div>
<% include ./partials/footer %>