body {
  background-color: #000;
}

p{
  color: #fff;
}

a{
  margin: auto;
  float: center;
}

.landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

.landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.pexels.com/photos/341378/pexels-photo-341378.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.pexels.com/photos/35188/child-childrens-baby-children-s.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.pexels.com/photos/247891/pexels-photo-247891.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.pexels.com/photos/344102/pexels-photo-344102.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.pexels.com/photos/242148/pexels-photo-242148.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}